.nav {
  position: fixed;
  top: 80px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 12vw;
}

.nav ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.nav ul:not(:first-child) {
  border-top: 1px solid #ccc;
  padding-top: 16px;
}

.link {
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  padding: 4px 8px;
  text-decoration: none;
}

.link:hover {
  color: #ccc;
}

.active {
  background-color: blue;
  pointer-events: none;
}
