.nav {
  position: fixed;
  top: 80px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 12vw;
}

.nav > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.nav > div:not(:first-child) {
  border-top: 1px solid #ccc;
  padding-top: 16px;
}

.nav > div > div {
  padding-left: 0;
}

.folder,
.folderContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.folderContent {
  padding-left: 16px;
}

.folderTitle {
  align-items: center;
  background: transparent;
  border: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.folderTitle,
.link {
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 4px 8px;
  text-decoration: none;
  transition: all 200ms ease;
}

.folderTitle:hover,
.link:hover {
  background-color: #333;
  color: #ccc;
}

.active {
  background-color: blue;
  pointer-events: none;
}

.chevron {
  height: 16px;
  width: 16px;
  transition: transform 200ms;
}

.folderTitle[data-state="open"] > .chevron {
  transform: rotate(90deg);
}
